html,
body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  min-height: 100vh;
  min-height: 100dvh;
  padding: 0;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

nav {
  height: 50px;
  background-color: lightgray;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 0.5rem;
}

nav>a,
nav>button {
  margin-left: 1rem;
  text-decoration: none;
}

main {
  flex-grow: 1;
}

footer {
  height: 50px;
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  text-align: center;
}

input {
  width: 100%;
  padding: 0.25rem;
}

button {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  color: #fff;
  background-color: #007bff;
}



#login-form,
#registration-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 30rem;
  margin: 3rem auto;
  padding: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.page-title {
  text-align: center;
}

/* main {
  background-color: #7e7e7e;
} */

/* Nav Styling */
.logo {
  /* margin-top: 2rem; */
  position: absolute;
  width: 18.5rem;
}
#outerNav {
  background-color: white;
}

#innerNav {
  background-color: white;
  border: none;
  /* display: 'flex'; */
  /* justifyContent: 'space-between' */

}

#menuItem {
  border-bottom: none;
  display: block;
  text-align: right;
}

/* Hero */

#heroSection {
  margin-top: 1rem;
  padding: .5rem;
}
.subHeader {
  margin-top: -3rem;
  width: 80%;
}

.card-section {
  height: 100%;
  padding: 5px;
 justify-content: center;
}

.info {
  max-width: 100%;
  background:#C492B1;;
  text-align: center;
  justify-content: center;

}

.registrationButtons{
  justify-content: center;
}

#message{
  padding-top: 5em;
}
#heroTitle {
  font-family: Montserrat;
  font-size: 72pt;
  font-weight: bolder;
  text-align: center;
  margin: auto;
}

#heroSubTitleDiv {
  margin-top: -10rem;
}
#heroSubTitle {
  font-size: 24pt;
  font-weight: lighter;
  text-align: center;
  margin-top: 5px;
}

#heroButtons {
  margin: 2rem;
  width: 80%;
  background-color: #C492B1;
  align-items: center;
}

/* Dashboard */

#brandDashboard {
  margin-top: 5rem;
}

/* Cards Styling */

.mainContainer .ant-card {
  display: flex; 
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.messagesPage {
  display: flex;

}

.messageResponse {
padding-top: 15em
  
}

.sendMessage {
  padding: 5
}