html,
body {
  background-color: var(--background);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  min-height: 100vh;
  min-height: 100dvh;
  height: auto;
  padding: 0;
  margin: 0;
  width:100%;
  /* overflow: auto;  */
}

:root { 
  display: flex-box;
  flex-direction: column;
  min-height: 100vh;
  --background:#f5f2f2;
  --cards: #BCE7FD;
  --accents: #b3b3d6; 
}

/* 
#root {
  display: flex-box;
  flex-direction: column;
  min-height: 100vh;
} */

nav {
  height: 50px;
  background-color: #efeded;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 0.5rem;
}

nav>a,
nav>button {
  margin-left: 1rem;
  text-decoration: none;
}

main {
  flex-grow: 1;
}

footer {
  height: 50px;
  background-color: var(--background) !important;
  /* border: solid 1px var(--accents);  */
  box-shadow: 10px 5px 10px var(--accents);
  display: flex !important;
  justify-content: center;
  align-items: center;
  padding: 0.9rem;
  text-align: center;
}

input {
  width: 100%;
  padding: 0.25rem;
}

button  {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  color: #fff;
  background-color: var(--accents);
}



#login-form,
#registration-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 30rem;
  margin: 3rem auto;
  padding: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.page-title {
  text-align: center;
}

/* main {
  background-color: #7e7e7e;
} */

/* Nav Styling */
.logo {
  margin-top: -2rem;
  position: absolute;
  width: 18.5rem;
  position: absolute;
  z-index: 1;
}
#outerNav {
  background-color:var(--background);
}

#innerNav {
  background-color: var(--background);
  border: none;
  /* display: 'flex'; */
  /* justifyContent: 'space-between' */

}

#menuItem {
  background-color: var(--background);
  border-bottom: none;
  display: block;
  text-align: right;
}

/* Hero */

#heroSection {
  margin-top: 1rem;
  padding: .5rem;
}
.subHeader {
  margin-top: -3rem;
  width: 80%;
}

.card-section {
  height: 100%;
  padding: 5px;
 justify-content: center;
}

.info {
  max-width: 100%;
  padding-bottom: 5rem;
  background:var(--accents);
  text-align: center;
  justify-content: center;

}

.registrationButtons{
  justify-content: center;
}

#message{
  padding-top: 5em;
}
#heroTitle {
  background-color: var(--background);
  font-family: Montserrat;
  font-size: 72pt;
  font-weight: bolder;
  text-align: center;
  margin: auto;
}

#heroSubTitleDiv {
  margin-top: -10rem;
  display: flex;
  flex-flow: wrap; 
}
#heroSubTitle {
  font-size: 24pt;
  font-weight: lighter;
  text-align: center;
  margin-top: 5px;
}

#heroButtons {
  margin: 2rem;
  width: 80%;
  background-color: var(--accents);
  align-items: center;
}

/* Dashboard */

#brandDashboard {
  margin-top: 5rem;
}

.dashboard {
  background-color: var(--background);
  margin-top: 1rem;
}

/* Cards Styling */

.mainContainer .ant-card {
  display: flex; 
  flex-direction: column;
  justify-content: space-between;
  height: 66vh;
  flex-wrap: wrap;
  margin-bottom: 25px;
}


.messagesPage {
  display: flex;

}

.messageResponse {
padding-top: 15em;

}

.messagesForm {
  width: 100%;
  
  /* position: absolute; */
top: 23rem;
}

.ant-form-item-row{
  justify-content: space-evenly;
}

 #card .ant-card-actions {
  background-color:var(--cards);
  width: 100% ; 
}

#card .ant-card-body {
  width: 100%;
}

#sendMessage {
 top: 23rem;
}

.tears {
  background-color: var(--cards) !important ;
}

Meta {
  background-color: var(--accents);
}

.checkbox-container {
  display: flex;
  flex-direction: column;
  justify-content:left;
  align-items:center;

}
.checkbox-icon {
  font-size: 25px; 
  margin-left: 2px;
  padding-left: 10px;
}

.checkbox-label {
  display: flex;
  align-items: center;
  margin-right: 250px; 
  width: 65px;
  padding: 10px;
}


#campaignSearch {
  background-color: var(--background);
  padding-bottom: 25rem;
  overflow-x: hidden;
  overflow-y: auto;
}

#bigSquare {
  background-color: var(--background);
  overflow-x: hidden;
  overflow-y: auto;

}


#campaignSearchTitle {
  margin-top: -5rem;
  text-align: center;
}

#newCampaignTitle {
  text-align: center;

}

#dashboardTitle {
  text-align: center;
}


#applyTitle {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  color: #fff;
  background-color: var(--accents);
}

.css-dev-only-do-not-override-17a39f8 a {
  color: black;
}

.css-dev-only-do-not-override-17a39f8.ant-btn-primary {
  background-color: var(--accents) !important;
  display: inline-block;
  text-align: center;
  border-radius: .25rem;
  color: #fff;
}

#subTitleh1 {
  color: white;
}

#subTitleh3 {
  color: #21fa90;
}

.css-dev-only-do-not-override-17a39f8.ant-layout {
  background-color: var(--background);
}


#createForm {
  display:contents;
}

#collabForm {
  margin: auto;
  padding: 5rem;
}

.css-dev-only-do-not-override-17a39f8.ant-card-small >.ant-card-body {
  height: 5rem;
}
